html{
	background-image:url("Slike/cruise.jpg");
	background-repeat:no-repeat;
	background-size: cover;
}
body{
	font-family:Helvetica;
	text-align: center;
}
h1{
	font-size:35px;
	text-align:center;
	
}
form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
	background-color:rgba(235, 235, 235, 0.84);
	border:4px solid rgba(108, 208, 231, 1);
	padding:5px 25px 25px 25px;
	border-radius: 12px;
	margin-top:80px;
	width:475px;
	margin-bottom:50px;
}
input {
	white-space: pre;
	font-size:17px;
}
p{
	font-size:17px;
	display:inline-block;
	margin-top:auto;
}
label{
	font-size:17px;
}
input[type=submit] {
    width:100px;
	height:30px;
	border-radius:5px;
	text-align:center;
	margin-left:190px;
	cursor: pointer;
	background-color:#f7f7f7;
}
input[type=text]:focus {
  outline:2px solid rgba(108, 208, 231, 1);
	
}
input[type=email]:focus {
  outline:2px solid rgba(108, 208, 231, 1);
}
input[type=number]:focus {
  outline:2px solid rgba(108, 208, 231, 1);

}

input[type=number] {
    width:200px;
	height:22px;
}
input[type=email] {
    width:200px;
	height:22px;
}

input[type=date] {
    width:200px;
	height:22px;
}
input[type=number] {
    width:200px;
	height:22px;
}

select {
    width:200px;
	height:22px;
	font-family:Helvetica;
	font-size:17px;
}
textarea{
	width:320px;
	height:120px;
    display:block;
	resize:none;
	border:1px solid black;
}
textarea:focus{
  outline:2px solid rgba(108, 208, 231, 1);
}
.required:after {
    content:" *";
    color: red;
 }
select:focus{
  outline:2px solid rgba(108, 208, 231, 1);
}
input[type=date]:focus{
  outline:2px solid rgba(108, 208, 231, 1);
}
	
.noscroll::-webkit-scrollbar {
    display: none;
}

.noscroll {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

input[type=text]{
	width:200px;
}